* {
  list-style: none;
  text-decoration: none;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  list-style: none;
  justify-content: center;
  border-radius: 10px;
  position: sticky;
  z-index: 999;
  background-color: rgb(177, 182, 182);
}
nav > .nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 10px;
}
nav > .nav-links > li > a {
  color: rgb(0, 0, 0);
  align-items: center;
}
.logo {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.search {
  display: flex;
}
.search input {
  width: 333px;
  padding: 6px;
  border: none;
  border: 2px solid blue;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  outline: none;
}
.search button {
  padding: 5px;
  border: none;
  width: 60px;
  background-color: blue;
  color: white;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
  gap: 5px;
 /* flex-direction: column; */
}
.icons > p {
  font-size: 15px;
  cursor: pointer;
}
.nav-links a.active {
  color: red;
}
.nav-links image.active {
  color: red;
}
.icon-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  cursor: pointer;
}
