.user-form-container {
  width: 30%;
  min-height: 300px;
  border: 2px solid black;
  margin: 40px auto;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}
.user-form {
  width: 100%;
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.user-form > * {
  width: 80%;
  align-items: center;
  padding: 7px;
  outline: none;
  border-radius: 7px;
  border: none;
  background-color: aliceblue;
}
.user-form > button {
  margin-top: 10px;
  width: 30%;
  background-color: darkgreen;
  color: white;
}
